.todo_container {
  background-color: antiquewhite;
  padding: 8px;
  margin-top: 8px;
  border-radius: 30px;
  width: 300px;
}

.title {
  text-align: center;
  margin-top: 4px;
}

.list_item {
}
