.input_container {
  background-color: aqua;
  padding: 8px;
  border-radius: 30px;
  width: 300px;
}

.todo_container {
  background-color: antiquewhite;
  padding: 8px;
  margin-top: 8px;
  border-radius: 30px;
  width: 300px;
}

.button {
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  padding: 5px 20px;
  background-color: white;
  color: black;
}

.button:hover {
  background-color: blue;
  color: white;
}

.title {
  text-align: center;
  margin-top: 4px;
}

.list_item {
  display: flex;
  align-items: center;
  margin: 4px;
  height: 30px;
}
